@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif;
}

body{
    background-color: theme('colors.background');
    overflow-x: hidden;
    color:white;
}

@layer base {
    h1 {
      @apply text-4xl font-bold text-neutral-100;
    }
    h2 {
      @apply text-xl font-medium text-neutral-300;
    }
    h3{
      @apply text-lg font-medium text-light;
    }
  }